$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
*:focus {
    outline: 0;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

h3 {
    font-weight: 700;
    margin: 1.3em 0;
}

h4 {
    font-weight: 700;
}

h5 {
    font-size: 1.1em;
    line-height: 1.5em;
}

p {
    font-size: 12px;
}

// .primarycontent {
//     padding: 30px;
// }

// .landing {
//     padding: 20px;
//     width:100%;
// }

.logo {
    img {
        height: 90px;
    }
}

.h-bg-darker {
    background: rgba(0, 0, 0, 0.05);
}

.h-margin-v-sm {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.h-padding-v-lg {
    padding-top: 14em;
    padding-bottom: 14em;
}

.h-padding-h-sm {
    padding-left: 2em;
    padding-right: 2em;
}

.h-padding-h-md {
    padding-left: 4em;
    padding-right: 4em;
}

.h-lowercase {
    text-transform: lowercase!important;
}

.h-max-width {
    max-width: 600px;
    margin: 0 auto;
}


.header {
    position: fixed;
    z-index: 1000;
    left: 30px;
    right: 30px;
}

.footer {
    position: fixed;
    z-index: 1000;
    left: 30px;
    right: 30px;
    bottom: 0;
    .nav {
        ul {
            &.text-left {
                text-align: left!important;
            }
            &.text-right {
                text-align: right!important;
            }
            padding: 0;
            li {
                padding: 1em 1em;
            }
        }
    }
}

.square {
    width: 100%!important;
    &:hover {
        background: white;
    }
    ;
}

.square:before {
    content: "";
    float: left;
    padding-bottom: 100%;
}

.square:after {
    content: "";
    display: table;
    clear: both;
}

.bk-block {
    position: relative;
    padding: 20px 20px 20px 50px;
    h4 {
        text-transform: uppercase;
        position: absolute;
        top: 13px;
        right: calc(100% - 16px);
        white-space: nowrap;
        -webkit-transform: rotate(270deg);
        -webkit-transform-origin: right top;
        -moz-transform: rotate(270deg);
        -moz-transform-origin: right top;
        -ms-transform: rotate(270deg);
        -ms-transform-origin: right top;
        -o-transform: rotate(270deg);
        -o-transform-origin: right top;
        transform: rotate(270deg);
        transform-origin: right top;
    }
}

.content-wrapper {
    // margin-top: 130px;
    // min-height: 600px;
}

.content-area {
    // margin-top: 113px;
}

.nav {
    ul {
        text-align: center;
        li {
            list-style: none;
            padding: 2.5em 1em;
            list-style-type: none;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 700;
            a {
                text-decoration: none;
                letter-spacing: 3px;
                color: inherit;
                &:hover {
                    text-decoration: underline;
                }
                /*text-shadow: -1px -1px 0 #ffd5c0, 1px -1px 0 #ffd5c0, -1px 1px 0 #ffd5c0, 1px 1px 0 #ffd5c0;*/
            }
        }
    }
}

mic-grid {
  position: relative;
}
.dynamic-grid.angular-grid {
  display: block;
  a {
    &.active {
      .img_overlay {
        height: 100%;
        // h3 {
        //   transform: scale(1.1);   
        // }
      }
    }
    &:hover {
      .img_overlay {
        height: 100%;
        // h3 {
        //   transform: scale(1.1);   
        // }
      }
      img {
      }
    }
    .img_overlay {
      position: absolute;
      background: rgba(0,0,0,0.8);
      height: 0%;
      overflow: hidden;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      padding: 0 15px;
      text-align: center;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
      }
    }
    img {
    }
  }
}
.grid {
  position: absolute;
  list-style: none;
  background: #ffffff;;
  box-sizing: border-box;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  overflow: hidden;
}
.grid.ng-leave {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
/*.grid.ng-leave.ng-leave-active {*/
/*  -webkit-transform: scale(0.5);*/
/*  transform: scale(0.5);*/
/*  opacity: 0;*/
/*}*/
/*.grid.ng-enter {*/
/*  -webkit-transition: all ease 400ms;*/
/*  transition: all ease 400ms;*/
/*  -webkit-transition-delay: 500ms;*/
/*  transition-delay: 500ms;*/
/*  -webkit-transform: scale(0.5);*/
/*   transform: scale(0.5);*/
/*  opacity: 0;*/
/*}*/
/*.grid.ng-enter.ng-enter-active {*/
/*  -webkit-transform: scale(1);*/
/*  transform: scale(1);*/
/*  opacity: 1;*/
/*}*/

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -300px 0; }
}
@-moz-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -300px 0; }
}
@-ms-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -300px 0; }
}
@-o-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -300px 0; }
}

.img-loading { 
  width: 100%; 
  min-height: 200px; 
  background-image: url(../images/wave.png);
  background-position: 0px 0px;
  background-repeat: repeat;

  animation: animatedBackground 10s linear infinite;
  -moz-animation: animatedBackground 10s linear infinite;
  -webkit-animation: animatedBackground 10s linear infinite;
  -ms-animation: animatedBackground 10s linear infinite;
  -o-animation: animatedBackground 10s linear infinite;
}


/*.img-loading {
 background: url('../images/ring-alt.gif') no-repeat center center!important; 
 min-height: 300px;
}
*/
.grid-img {
  width: 100%;
  vertical-align: middle;
  // background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.col-xs-25 {
    width: 40%;
    float: left;
}


/* start 'enter' transition on main view */

.ng-enter {
    /* transition on enter for .5s */
    transition: .7s;
    /* start with opacity 0 (invisible) */
    opacity: 0;
}

.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
    .col-sm-25 {
        width: 40%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .col-md-25 {
        width: 40%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
    .col-lg-25 {
        width: 40%;
        float: left;
    }
}

.firsthalf {
    background: red;
    padding: 20px;
    position: absolute;
    width: 50%;
    left: 0;
}

.secondhalf {
    background: blue;
    padding: 20px;
    position: absolute;
    width: 50%;
    right: 0;
}
