$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
*:focus {
    outline: 0;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    overflow-x: hidden;
    background: #fff9d9;
}

[class^="col-"],
[class*=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-md-25,
.col-md-35, {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.col-xs-25 {
    width: 40%;
    float: left;
}

.col-md-35 {
    width: 60%;
    float: left;
}


h1 {
    font-weight: 800;
    margin: 1.3em 0;
    &.tagline {
      margin: 0 0 1.3em 0;
    }
}

h3 {
    font-weight: 700;
    margin: 1.3em 0;
}

h2 {
    font-weight: 700;
    margin: 1em 0;
}

h4 {
    font-weight: 700;
}

h5 {
    font-size: 1.1em;
    line-height: 1.5em;
}

p {
    font-size: 12px;
}

a {
  color:inherit;
  &:hover, &:focus, &:active,  {
    color:inherit;
  }
}

.primarycontent {
    padding-top: 130px;
}

.logo {
  padding-left: 10px;
  padding-right: 10px;
    img {
        height: 90px;
    }
}

.h-bg-darker {
    background: rgba(0, 0, 0, 0.05);
}

.h-margin-v-sm {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.h-margin-h-neg10 {
  margin-left: -10px!important;
  margin-right: -10px!important;
}

.h-margin-v-md {
    margin-top: 4em;
    margin-bottom: 4em;
}

.h-padding-v-md {
    padding-top: 7em;
    padding-bottom: 7em;
}

.h-padding-v-lg {
    padding-top: 14em;
    padding-bottom: 14em;
}

.h-padding-v-5px {
    padding-top: 5px;
    padding-bottom: 5px;
}

.h-padding-v-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.h-padding-v-15px {
    padding-top: 15px;
    padding-bottom: 15px;
}

.h-padding-h-0 {
    padding-left: 0;
    padding-right: 0;
}

.h-padding-h-sm {
    padding-left: 2em;
    padding-right: 2em;
}

.h-padding-h-md {
    padding-left: 4em;
    padding-right: 4em;
}

.h-margin-v-10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h-lowercase {
    text-transform: lowercase!important;
}

.h-max-width {
    max-width: 600px;
    margin: 0 auto;
}

.h-margin-bottom-m {
  margin-bottom:100px;
}


.header {
    position: fixed;
    background-repeat:no-repeat;
    background-position:top;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.lightboxOverlay {
  opacity: 0.9;
}

.lb-outerContainer, .lightbox .lb-image {
  border-radius: 0!important;
}

.lb-outerContainer {
  background-color: black;
  position: fixed;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}

.lb-close {
    position: fixed;
    top: 22px;
    right: 11px;
    width: 40px;
    height: 40px;
    background: url(../images/close.png) top right no-repeat!important;
    background-size: cover!important;
}


.lb-next {
  background: url(../images/angle-right.png) right 48% no-repeat!important;
  // width: 100px!important;
  // transform: scale(0.5);
  // -moz-transform: scale(0.5);
  // -webkit-transform: scale(0.5);
  // -ms-transform: scale(0.5);
  // -o-transform: scale(0.5);
  // position: fixed;
  // top: 30px;
  // bottom: 30px;
  // right: -100px!important;
  // width: 90px;
  // opacity: 1!important;
}

.lb-prev {
  background: url(../images/angle-left.png) left 48% no-repeat!important;
  // width: 100px!important;
  // transform: scale(0.5);
  // -moz-transform: scale(0.5);
  // -webkit-transform: scale(0.5);
  // -ms-transform: scale(0.5);
  // -o-transform: scale(0.5);
  // position: fixed;
  // left: -100px!important;
  // top: 30px;
  // bottom: 30px;
  // width: 90px;
  // opacity: 1!important;
}


.project-images {
  a {
    outline: none;
    img {
      cursor: zoom-in; 
    }
  }
}


.footer {
    position: fixed;
    background-repeat:no-repeat;
    background-position:top;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top:15px;
    // background: rgba(255,213,192,0);
    // background: -moz-linear-gradient(top, rgba(255,213,192,0) 0%, rgba(255,213,192,0.83) 24%, rgba(255,213,192,1) 52%, rgba(255,213,192,1) 100%);
    // background: -webkit-gradient(top, bottom, color-stop(0%, rgba(255,213,192,0)), color-stop(24%, rgba(255,213,192,0.83)), color-stop(52%, rgba(255,213,192,1)), color-stop(100%, rgba(255,213,192,1)));
    // background: -webkit-linear-gradient(top, rgba(255,213,192,0) 0%, rgba(255,213,192,0.83) 24%, rgba(255,213,192,1) 52%, rgba(255,213,192,1) 100%);
    // background: -o-linear-gradient(top, rgba(255,213,192,0) 0%, rgba(255,213,192,0.83) 24%, rgba(255,213,192,1) 52%, rgba(255,213,192,1) 100%);
    // background: -ms-linear-gradient(top, rgba(255,213,192,0) 0%, rgba(255,213,192,0.83) 24%, rgba(255,213,192,1) 52%, rgba(255,213,192,1) 100%);
    // background: linear-gradient(to bottom, rgba(255,213,192,0) 0%, rgba(255,213,192,0.83) 24%, rgba(255,213,192,1) 52%, rgba(255,213,192,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd5c0', endColorstr='#ffd5c0', GradientType=0 );
    .nav {
        ul {
          margin-bottom: 13px;
            &.text-left {
                text-align: left!important;
            }
            &.text-right {
                text-align: right!important;
            }
            padding: 0;
            li {
                padding: 0.1em 1em;
            }
        }
    }
}

.square {
    width: 100%!important;
    cursor:pointer;
    &:hover {
        &.h-no-bg {
          background: none!important;
        }
        background: white;
    }
}

.square:before {
    content: "";
    float: left;
    padding-bottom: 100%;
}

.square:after {
    content: "";
    display: table;
    clear: both;
}

#contact {
  h5 {
    margin: 0;
  }
  p {
    margin: 25px 0;
  }
  a {
    &:hover {
      text-decoration: none;
      p {
        text-decoration: underline;
      }
    }
  }
  .social-item {
    icon {
      width: 15px;
    }
    icon, p {
      display:inline-block;
    }
    p {
      margin:0;
      font-weight: bold;
    }
  }
}

.section-header {
  text-align: center;
  h3 {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    background: rgba(0, 0, 0, 0.05);
    margin: 0;
  }
}

.featherlight-content {
  padding: 0!important;
  margin: 0;
  max-height: 100%;
  border: 0!important;
  .col-md-12 {
    padding: 0;
  }
}

.featherlight-close-icon {
  font-size: 2em;
  line-height: 45px!important;
  width: 45px!important;
}

#breadVSbakery {
  .col-md-6 {
    padding: 6em 7em;
  }
  display:none;
  // min-width: 900px;
  text-align:center;
  svg {
    height: 180px;
  }
  h5 {
    min-height: 100px;
    max-width: 300px;
    margin: 30px auto;
    font-size: 1.1em;
    line-height: 1.3em;
  }
}

.h-relative {
  position: relative;
}

.bk-block {
    position: relative;
    padding: 20px 20px 20px 50px;
    h4 {
        text-transform: uppercase;
        position: absolute;
        top: 13px;
        right: calc(100% - 16px);
        white-space: nowrap;
        -webkit-transform: rotate(270deg);
        -webkit-transform-origin: right top;
        -moz-transform: rotate(270deg);
        -moz-transform-origin: right top;
        -ms-transform: rotate(270deg);
        -ms-transform-origin: right top;
        -o-transform: rotate(270deg);
        -o-transform-origin: right top;
        transform: rotate(270deg);
        transform-origin: right top;
    }
}

.slider-arrow {
  position: absolute;
  cursor: pointer;
  top: 0;
  height: 100%;
  width: 130px;
  z-index: 10;
  &:hover {
    icon {
      color: rgba(255,255,255,1);
    }
  }
  icon {
    position: absolute;
    top: 48%;
    z-index: 10;
    color: rgba(255,255,255,0.6);
  }
  &-left {
    left: 0;
    icon {
      left: 47px;
    }
  }
  &-right {
    right: 0;
    icon {
      right: 47px;
    }
  }
}

.slick-slider {
  margin-bottom: 0;
}

.slick-list {
  padding: 0 140px!important;
}

.slick-dots {
  bottom: 75px!important;
  li {
    margin: 0!important;
    button {
      &:before {
        font-size: 13px!important;
        color: white!important;
      }
    }
  }
}


.featured-project {
  background-size: cover;
  background-image: url(../images/hov.png);
  background-position: center center;
  min-height: 550px;
  margin: 0 5px 0 5px;
  .aux {
    margin-top: 230px;
  }
  h2 {
    font-size: 2.8em;
    margin-bottom: 0.6em;
  }
  h4 {
    line-height: 1.4em;
    margin-bottom: 30px;
  }
  h2, h4 {
    color: #fff;
  }
}




.project-wrapper {
  .project-inner {
    .featured-image {
      min-height: 500px;
      width: 100%;
      margin-top: 80px;
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      position: relative;
      .featured-gradient {
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 145px;
      }
    }
    .project-copy {
      margin-top: -30px;
      z-index: 100;
      position: relative;
      margin-bottom: 40px;
      h1 {
        text-transform: uppercase;
        margin-top: 0;
      }
    }
    ul { /* --- DYNAMIC IMAGE GALLERY --*/
      margin-left: 10px !important;
      margin-right: 10px!important;
    }
  }
}


.btn {
  color: #000;
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  padding: 8px 20px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}


.content-wrapper {
    // margin-top: 130px;
    // min-height: 600px;
}

.content-area {
    // margin-top: 113px;
}

#brands {
  margin-bottom: 2.2em;
  h2 {
    margin-top: 2em;
    margin-bottom: 0;
  }
  img {
    width: 80%;
    margin: 0 auto;
  }
}

.nav {
    ul {
        text-align: center;
        margin-bottom: 0;
        li {
            list-style: none;
            padding: 2.5em 1em;
            list-style-type: none;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 700;
            a {
                outline: none;
                text-decoration: none;
                letter-spacing: 3px;
                color: inherit;
                padding-top:10px;
                &:before {
                  content: "";
                  position: absolute;
                  left: 25%;
                  top: 0;
                  height: 2px;
                  width: 0%;
                }
                &:hover, &.active {
                    position: relative;
                    &:before {
                      width: 50%;
                      border-bottom: 2px solid black;
                    }
                }
            }
        }
    }
}

span.tip {

    /* Required */
    position: absolute;
    z-index: 2;
    display: none;

    /* Optional */
    font-size: 15px;
    max-width: 150px;
    height: auto;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px #666;
    background: #FD0;
} 

.info-grid {
  .info-grid-item{
    display: block;
    .square {
      display: none;
    }
    img {
      display: block;
    }
    &:hover {
      cursor: pointer;
      .square {
        display: block;
      }
      img {
        display: none;
      }
    }
  }
}



mic-grid {
  position: relative;
}
.dynamic-grid.angular-grid {
  display: block;
  a {
    &.active {
      .img_overlay {
        height: 100%;
        // h3 {
        //   transform: scale(1.1);
        // }
      }
    }
    &:hover {
      .img_overlay {
        height: 100%;
        // h3 {
        //   transform: scale(1.1);
        // }
      }
      img {
      }
    }
    .img_overlay {
      position: absolute;
      background: rgba(0,0,0,0.8);
      height: 0%;
      overflow: hidden;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      padding: 0 15px;
      text-align: center;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
      }
    }
    img {
    }
  }
}


.grid {
  position: absolute;
  list-style: none;
  background: #ffffff;;
  box-sizing: border-box;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  overflow: hidden;
}
.grid.ng-leave {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
/*.grid.ng-leave.ng-leave-active {*/
/*  -webkit-transform: scale(0.5);*/
/*  transform: scale(0.5);*/
/*  opacity: 0;*/
/*}*/
/*.grid.ng-enter {*/
/*  -webkit-transition: all ease 400ms;*/
/*  transition: all ease 400ms;*/
/*  -webkit-transition-delay: 500ms;*/
/*  transition-delay: 500ms;*/
/*  -webkit-transform: scale(0.5);*/
/*   transform: scale(0.5);*/
/*  opacity: 0;*/
/*}*/
/*.grid.ng-enter.ng-enter-active {*/
/*  -webkit-transform: scale(1);*/
/*  transform: scale(1);*/
/*  opacity: 1;*/
/*}*/

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -300px 0; }
}
@-moz-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -300px 0; }
}
@-ms-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -300px 0; }
}
@-o-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -300px 0; }
}

.img-loading {
  width: 100%;
  min-height: 200px;
  background-image: url(../images/wave.png);
  background-position: 0px 0px;
  background-repeat: repeat;

  animation: animatedBackground 10s linear infinite;
  -moz-animation: animatedBackground 10s linear infinite;
  -webkit-animation: animatedBackground 10s linear infinite;
  -ms-animation: animatedBackground 10s linear infinite;
  -o-animation: animatedBackground 10s linear infinite;
}

.grid-img {
  width: 100%;
  vertical-align: middle;
  // background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}



.owl-theme .owl-controls{
margin-top:10px;
text-align:center;
-webkit-tap-highlight-color:transparent
}

.owl-theme .owl-controls .owl-nav [class*=owl-]{
color:#fff;
font-size:14px;
margin:5px;
padding:4px 7px;
background:#d6d6d6;
display:inline-block;
cursor:pointer;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
background:#869791;
color:#fff;
text-decoration:none
}

.owl-theme .owl-controls .owl-nav .disabled{
opacity:.5;
cursor:default
}

.owl-theme .owl-dots .owl-dot{
display:inline-block;
zoom:1;
*display:inline
}

.owl-theme .owl-dots .owl-dot span{
width:10px;
height:10px;
margin:5px 7px;
background:#d6d6d6;
display:block;
-webkit-backface-visibility:visible;
-webkit-transition:opacity 200ms ease;
-moz-transition:opacity 200ms ease;
-ms-transition:opacity 200ms ease;
-o-transition:opacity 200ms ease;
transition:opacity 200ms ease;
-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
background:#869791
}

::selection {
  background: rgba(0, 0, 0, 0.1);
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}

#map {
    width: 100%;
    height: 400px;
}


@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
    .col-sm-25 {
        width: 40%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .col-md-25 {
        width: 40%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
    .col-lg-25 {
        width: 40%;
        float: left;
    }
}

@media (max-width: 992px) {
    .nav {
      ul {
        display:none;
      }
    }
}
