<div class="header row">
	<div class="col-xs-3 logo" ng-click="theme1()">
		<img src="../images/logo_the_bread.svg">
	</div>
	<div class="col-xs-6 nav">
		<ul>
			<li><a href>What we do</a></li>
			<li><a href>How we do it</a></li>
			<!-- <li><a href ui-sref="app.projects" >Our Work</a></li> -->
			<li><a href ui-sref="work">Our Work</a></li>
			<li><a href>Get in touch</a></li>
		</ul>
	</div>
	<div class="col-xs-3 logo text-right">
		<img src="../images/logo_bakery.svg" ng-click="theme2()">
	</div>
</div>
