<div class="primarycontent h-bg-2 js-scrollable-area">
    <div class="row content-wrapper">
        <div class="container h-margin-bottom-m">
            <div class="col-md-12 section-header h-margin-v-sm">
                <h3>What we're looking for</h3>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="h-bg-darker h-padding-v-md h-padding-h-md text-center">
                    <h3>Junior Graphic Designer</h3>
                    <h5>We specialise in building the perfect team around each project that comes our way. Our core team heads up each department and works with a multitude of freelance creative partners to find solutions to each challenge.</h5>
                    <p>finer details and qualifications</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="h-bg-darker h-padding-v-md h-padding-h-md text-center">
                    <h3>Junior Graphic Designer</h3>
                    <h5>We specialise in building the perfect team around each project that comes our way. Our core team heads up each department and works with a multitude of freelance creative partners to find solutions to each challenge.</h5>
                    <p>finer details and qualifications</p>
                </div>
            </div>
        </div>
    </div>
</div>