<div class="primarycontent h-bg-1 js-scrollable-area">
    <div class="row content-wrapper">
        <div class="container info-grid h-margin-bottom-m">
            <div class="col-md-12 section-header h-margin-v-sm">
                <h3>Our Network</h3>
            </div>
            <!-- <div class="col-md-12 text-center h-bg-darker"> -->
            <div class="col-md-15 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/Beanstalk.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Beanstalk</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/CarlAscroft.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Carl Ashcroft</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-25 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/Radio.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Radio</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/DanielTingChong.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Daniel Ting Chong</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/DeanWestmore.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Dean Westmore</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/EitanStern.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Eitan Stern</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/FrypanMfula.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Frypan Mfula</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/JohnnyKotze.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Johnny Kotze</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/Kalashnikovv.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Kalashnikovv</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/KitsiSebati.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Kitsi Sebati</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/LaziMathebula.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Lazi Mathebula</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/NinjaBreadBoy.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>NinjaBreadBoy</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/ChadGoddard.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Chad Goddard</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-25 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/we-are-awesome film.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>We-Are-Awesome Film</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/SuccessMaake.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Success Maake</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/Thesis.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Thesis</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-15 col-sm-12">
                <div class="info-grid-item h-padding-v-5px">
                    <img src="../images/partners/RichardBolland.jpg" class="img-responsive">
                    <div class="square h-no-bg">
                        <div class="bk-block">
                            <h4>Richard Bolland</h4>
                            <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
