<div class="shared-bg primarycontent" id="home">
    <div class="row content-wrapper">
        <div class="container">
            <div class="col-md-12 text-center h-padding-v-md">
                <h1 class="tagline">The Bread is a creative brand <br/> consultancy. We advise, assist, <br/>and build brands.</h1>
            </div>
            <div class="col-md-25 col-sm-12">
                <div class="h-bg-darker h-padding-v-lg h-padding-h-md text-center" id="what-we-do">
                    <h3>What We Do</h3>
                    <h5>As a brand consultancy we help brands communicate, connect, and differentiate. We create new brands and products, as well as spaces, events, campaigns, and with the help of Bakery, websites, apps, and user experiences</h5>
                </div>
            </div>
            <div ui-view="wwdside">
            </div>
        </div>
    </div>
    <div class="container info-grid" id="brands">
        <div class="col-md-12 section-header">
            <h2>Brands we're hanging out with</h2>
        </div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/LEVIS.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/VICE.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/RAY-BAN.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/AUTONOMY.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/BELAIRE.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/REDBULL.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/VANS.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/SOUTHPOINT.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/SPORTSCENE.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/SMIRNOFF.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/ANATOMY.png" class="img-responsive"></div>
        <div class="col-md-3 col-xs-6"><img src="../images/clients/PROTESTHIV.png" class="img-responsive"></div>
    </div>
    <div id="how-we-do-it" class="h-relative">
        <div class="slider-arrow slider-arrow-left">
            <icon class="fa fa-angle-left fa-4x">
        </div>
        <div class="slider-arrow slider-arrow-right">
            <icon class="fa fa-angle-right fa-4x">
        </div>
        <slick prev-arrow=".slider-arrow-left" next-arrow=".slider-arrow-right" dots=true infinite=true arrows=true speed=300 slides-to-show=1 center-mode="true" touch-move=true slides-to-scroll=1>
            <div class="featured-project">
                <div class="h-padding-h-md h-padding-v-md text-center h-max-width">
                    <h2>How We Do It</h2>
                    <h4>We specialise in building the perfect team around each project that comes our way. Our core team heads up each department and works with a multitde of freelance creative partners to find solutions to each challenge.</h4>
                    <button class="btn" style="background:{{primaryColor}}">View House of Vans</button>
                </div>
            </div>
            <div class="featured-project">
                <div class="h-padding-h-md h-padding-v-md text-center h-max-width">
                    <h2>How We Do It</h2>
                    <h4>We specialise in building the perfect team around each project that comes our way. Our core team heads up each department and works with a multitde of freelance creative partners to find solutions to each challenge.</h4>
                    <button class="btn" style="background:{{primaryColor}}">View House of Vans</button>
                </div>
            </div>
        </slick>
    </div>
    <div class="container info-grid" id="creative-partners">
        <div class="col-md-12 section-header h-margin-v-sm">
            <h3>Our Creative Partners</h3>
        </div>
        <!-- <div class="col-md-12 text-center h-bg-darker"> -->
        <div class="col-md-15 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/Beanstalk.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Beanstalk</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/CarlAscroft.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Carl Ashcroft</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-25 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/Radio.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Radio</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-15 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/DanielTingChong.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Daniel Ting Chong</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/DeanWestmore.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Dean Westmore</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-15 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/EitanStern.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Eitan Stern</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/FrypanMfula.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Frypan Mfula</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-15 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/JohnnyKotze.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Johnny Kotze</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/Kalashnikovv.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Kalashnikovv</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-15 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/KitsiSebati.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Kitsi Sebati</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/LaziMathebula.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Lazi Mathebula</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-15 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/NinjaBreadBoy.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>NinjaBreadBoy</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/ChadGoddard.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Chad Goddard</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-25 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/we-are-awesome film.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>We-Are-Awesome Film</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-15 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/SuccessMaake.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Success Maake</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-15 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/Thesis.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Thesis</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-15 col-sm-12">
            <div class="info-grid-item h-padding-v-5px">
                <img src="../images/partners/RichardBolland.jpg" class="img-responsive">
                <div class="square h-no-bg">
                    <div class="bk-block">
                        <h4>Richard Bolland</h4>
                        <p>We work with a network of designers and architects to conceptualise, develop, and ultimately build spaces for retail, experiences, or commerce.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container info-grid " id="work">
        <div class="col-md-12 section-header h-margin-v-sm">
            <h3>Our Work</h3>
        </div>
        <div ui-view="work-view" id="js-work-section"></div>
    </div>
    <div class="container" id="contact">
        <div class="col-md-12 section-header h-margin-v-sm">
            <h3>Get In Touch</h3>
        </div>
        <div class="col-md-15 col-sm-12">
            <h5><strong><a href="mailto:hello@thebread.co.za">hello@thebread.co.za</a></strong></h5>
            <h5><strong><a href="tel:+2782123456">082 123 4567</a></strong></h5>
            <p>
                <a href="https://goo.gl/maps/Snb5CNvtAPG2" target="_blank">
                        5th Floor<br/>
                        73 Juta Street<br/>
                        Braamfontein<br/>
                        Johannesburg<br/>
                        South Africa<br/>
                    </a>
            </p>
            <div class="social">
                <div class="social-item">
                    <a href="#">
                        <icon class="fa fa-facebook"></icon>
                        <p>Facebook</p>
                    </a>
                </div>
                <div class="social-item">
                    <a href="#">
                        <icon class="fa fa-twitter"></icon>
                        <p>Twitter</p>
                    </a>
                </div>
                <div class="social-item">
                    <a href="#">
                        <icon class="fa fa-instagram"></icon>
                        <p>Instagram</p>
                    </a>
                </div>
            </div>
            <p>For accounts, contact <a href="mailto:accounts@thebread.co.za">accounts@thebread.co.za</a></p>
        </div>
        <div class="col-md-15 col-sm-12">
            <h5><strong><a href="mailto:hello@thebread.co.za">hello@bakery.co.za</a></strong></h5>
            <h5><strong><a href="tel:+2782123456">082 123 4567</a></strong></h5>
            <p>
                <a href="https://goo.gl/maps/Snb5CNvtAPG2" target="_blank">
                5th Floor<br/>
                73 Juta Street<br/>
                Braamfontein<br/>
                Johannesburg<br/>
                South Africa<br/>
                </a>
            </p>
            <div class="social">
                <div class="social-item">
                    <a href="#">
                        <icon class="fa fa-facebook"></icon>
                        <p>Facebook</p>
                    </a>
                </div>
                <div class="social-item">
                    <a href="#">
                        <icon class="fa fa-twitter"></icon>
                        <p>Twitter</p>
                    </a>
                </div>
                <div class="social-item">
                    <a href="#">
                        <icon class="fa fa-instagram"></icon>
                        <p>Instagram</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-35 col-sm-12">
            <div id="map" style="margin-bottom:100px;"></div>
        </div>
    </div>
