<div class="primarycontent h-bg-2 js-scrollable-area" style="padding-bottom: 70px;min-height: 100%;">
    <div class="content-wrapper">
      <div class="container">
        <div class="col-md-12 section-header h-margin-v-md">
            <h2>5 Reasons to Invest in UX</h2>
        </div>

      <div class="h-padding-v-md intro-quote">
        <div class="intro-quote-aux">
          <h3 class="h-italics">An Investment in UX is often the difference between businesses that grow and those that sputter.</h3>
          <div class="quote">
            <p> – Roman Nurik <em>Designer at <span> Google</span></em></p>
          </div>
        </div>
      </div>

        <div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
          <div class="col-md-3 image">
            <img class="event" style="max-width: 200px;" src="images/what-we-do/pic7.svg" />
          </div>
          <div class="col-md-9 text">
            <h4>UX improves software</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>

        <div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item-alt">
          <div class="col-md-3 image">
            <img class="event" style="max-width: 200px;" src="images/what-we-do/pic3.svg" />
          </div>
          <div class="col-md-9 text">
            <h4>UX increases conversion rates and results in better ROI</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>

        <div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
          <div class="col-md-3 image">
            <img class="event" style="max-width: 200px; padding: 3rem;" src="images/what-we-do/pic10.png" />
          </div>
          <div class="col-md-9 text">
            <h4>UX increases sales (and lowers development costs)</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>

        <div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item-alt">
          <div class="col-md-3 image">
            <img class="event" style="max-width: 200px; padding: 3rem;" src="images/what-we-do/pic4.svg" />
          </div>
          <div class="col-md-9 text">
            <h4>UX increases customer retention and brand loyalty</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>

        <div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
          <div class="col-md-3 image">
            <img class="event" style="max-width: 200px;" src="images/what-we-do/pic5.svg" />
          </div>
          <div class="col-md-9 text">
            <h4>UX results in lower cost of customer aquisition and lower support costs</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>

          <div class="col-md-12 section-header h-margin-v-sm">
              <h2>Did you know...</h2>
          </div>
        <div class="h-max-width-xs">
          <h4 class="text-center"><mark>For every R1 invested in UX,</mark><mark>companies can expect R100 in return.</mark><mark>That’s an ROI of of 9,900%</mark></h4>
          <p class="text-center"> — Forrester UX Research</p>
        </div>

        <div class="col-md-12 h-padding-v-sm">
          <div class="h-padding-v-sm h-padding-h-sm h-max-width-m box-offset text-center" style="position: relative; z-index: 10;">
            <h4>Looking for great UX?</h4>
            <p>Contact us today for a no obligation quote</p>
            <a ui-sref-active="active" ng-click="goTop();" ui-sref="app.ux" class="btn btn-2" target="_blank">Contact Us</a>
          </div>
        </div>
    </div>
  </div>
</div>
