<div class="primarycontent h-bg-2 js-scrollable-area" style="padding-bottom: 70px;min-height: 100%;">
    <div class="content-wrapper">
      <div class="container">
        <div class="col-md-12 section-header h-margin-v-md">
            <h2>What is UX Design?</h2>
            <p>Good question. Here's our take on it</p>
        </div>
        <div class="col-md-12">
        <div class="text-page">
          <p>Firstly, it should be noted that there is no commonly accepted definition of what User Experience Design is. It means different things to different people as it includes a range of different disciplines like Information Architecture, Interaction Design, Human-computer interaction, etc.</p>
          <p>So let’s do what everyone does, and head over to our good friend Wikipedia for a starting point:</p>
            <div class="h-padding-v-sm h-padding-h-sm h-max-width-m box-offset" style="position: relative; z-index: 10;">
              <h4>“User experience design (UX) is the process of enhancing customer satisfaction and loyalty by improving the usability, ease of use, and pleasure provided in the interaction between the customer and the product”</h4>
            </div>
            <div class="quote-alt h-max-width-m" style="padding-left: 2rem;">
              <p> — Definition of UX according to <em><span>Wikipedia</span></em></p>
            </div>
          <p>In other words, UX Design is the creative and systematic process of determining what the experience will be like when a person interacts with a digital product.  It’s the process of understanding a user’s mental state and technical know-how, and to elicit a positive emotional response from the person using your product in an intuitive way.</p>
          <p>To quote author Laura Klein, “UX Design always happens. Whether it’s intentional or not, somebody makes the decisions about how the human and the product will interact. Good UX Design happens when we make these decisions in a way that understands and fulfills the needs of both our users and our business.”</p>
          <p>Whitney Hess goes on to add, “User Experience is a commitment to developing products and services with purpose, compassion, and integrity. It is the never-ending process of seeing the world from the customers’ perspective and working to improve the quality of their lives.“</p>
          <p>In our own words, UX Design is a commitment to creating digital products and services focused on the wants and needs of the users, while fast-tracking the business objectives of the product or service.</p>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="col-md-12 h-bg-darker text-center h-padding-v-sm h-margin-v-10px">
          <img class="event" style="max-width: 200px;" src="images/what-we-do/pic3.svg" />
          <h3 style="margin: 0;">Looking for UX Design services?</h3>
          <p style="margin-bottom: 2rem; margin-top: 2rem;">Let's schedule a coffee and see how we can help you.</p>
          <a ui-sref-active="active" ui-sref="app.contact" class="btn btn-2" target="_blank">Get In Touch</a>
        </div>
    </div>
    </div>
</div>
