<!--
<div id="owl-demo" class="owl-carousel owl-theme">
 
  <div class="item"><img src="../images/pic3.jpg" alt="The Last of us"></div>
  <div class="item"><img src="../images/pic3.jpg"  alt="GTA V"></div>
  <div class="item"><img src="../images/pic3.jpg" alt="Mirror Edge"></div>
 
</div>

		<data-owl-carousel class="owl-carousel" data-options="">
            
<div class="item"><img width="500" height="500" src="../images/pic3.jpg" alt="The Last of us">Hello</div>
  <div class="item"><img src="../images/pic3.jpg"  alt="GTA V"></div>
  <div class="item"><img src="../images/pic3.jpg" alt="Mirror Edge"></div>
		</data-owl-carousel>-->
asd
    <data-owl-carousel class="owl-carousel" data-options="">
	      <div owl-carousel-item="" ng-repeat="project in projects | filter:project.featured" class="item">
        	<div class="item-assets">
	        	<h1>{{project.name}}</h1>
                <img data-ng-src="{{ project.thumb }}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
        	</div>
      	</div>
		</data-owl-carousel>




