<div class="work-grid work-grid-1">
    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 1 })" ng-click="goTop()">
                    <div class="work-item-1 landscape" style="background: url(../images/projects/01/thumb.jpg); background-size: cover; ">
                    </div>
                    <div class="work-item-2 landscape">
                        <div class="content">
                            <div class="bk-block">
                                <h4>Daniel Ting Chong</h4>
                                <p>His distinctive illustration style and design eye is turning Daniel into one of the country’s most recognised creatives. It’s also the thing that has earned him commissions from brands such as Nike, The New York Times, and Red Bull.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 3 })" ng-click="goTop()">
                    <div class="work-item landscape" style="background: url(../images/projects/03/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 4 })" ng-click="goTop()">
                    <div class="work-item landscape" style="background: url(../images/projects/04/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 5 })" ng-click="goTop()">
                    <div class="work-item landscape" style="background: url(../images/projects/05/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 15 })" ng-click="goTop()">
                    <div class="work-item portrait" style="background: url(../images/projects/15/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 6 })" ng-click="goTop()">
                    <div class="work-item landscape-fix" style="background: url(../images/projects/06/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 13 })" ng-click="goTop()">
                    <div class="work-item portrait" style="background: url(../images/projects/13/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 7 })" ng-click="goTop()">
                    <div class="work-item landscape" style="background: url(../images/projects/07/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-12" style="padding-left:0">
                <div class="h-padding-v-5px work-item">
                    <a ui-sref="app.work.detail({ id: 8 })" ng-click="goTop()">
                        <div class="work-item landscape" style="background: url(../images/projects/08/thumb.jpg); background-size: cover; ">
                            <div class="content">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12" style="padding-right:0">
                <div class="h-padding-v-5px work-item">
                    <a ui-sref="app.work.detail({ id: 9 })" ng-click="goTop()">
                        <img src="../images/projects/09/thumb.jpg" class="img-responsive js-eff-work-img">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 2 })" ng-click="goTop()">
                    <div class="work-item portrait" style="background: url(../images/projects/02/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 10 })" ng-click="goTop()">
                    <div class="work-item landscape" style="background: url(../images/projects/10/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 11 })" ng-click="goTop()">
                    <div class="work-item landscape" style="background: url(../images/projects/11/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 12 })" ng-click="goTop()">
                    <div class="work-item landscape" style="background: url(../images/projects/12/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 14 })" ng-click="goTop()">
                    <div class="work-item landscape" style="background: url(../images/projects/14/thumb.jpg); background-size: cover; ">
                        <div class="content">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="work-grid-2">
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 1 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/01/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 04 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/04/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 03 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/03/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 05 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/05/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 15 })" ng-click="goTop()">
                <div class="work-item portrait" style="background: url(../images/projects/15/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 06 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/06/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 07 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/07/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 08 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/08/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 09 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/09/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 13 })" ng-click="goTop()">
                <div class="work-item portrait" style="background: url(../images/projects/13/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 10 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/10/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 12 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/12/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 02 })" ng-click="goTop()">
                <div class="work-item portrait" style="background: url(../images/projects/02/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 11 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/11/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 14 })" ng-click="goTop()">
                <div class="work-item landscape" style="background: url(../images/projects/14/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
