<div class="section">
            <div class="segment glo">
                <div class="valign">
                    <div class="hero h-1">
                    </div>
                    <div class="inner">
                        <div class="content">
                            <h2>Tracking Billboards <div class="nw">in West Africa</div></h2>
                            <p>
                                Globacom is one of the fastest growing mobile service providers in the world. Built on Node.js and NoSQL technology, we built a geotagging mobile web app that snaps photos and plots locations in Nigeria, Ghana and Benin.
                            </p>
                            <p>
                                <span>Role:</span> UX Design &amp; Development
                                <br/><span>Agency:</span> <a href="http://www.thekinetic.co.za" target="_blank">The Kinetic</a></p>
                        </div>
                    </div>
                </div>
            </div>
      </div>
        <div class="section">
          <div style="display: table-cell;
    vertical-align: middle;
    width: 100%;">
            <div class="segment autonomy">
                <div class="valign">
                    <div class="hero">
                    </div>
                    <div class="inner">
                        <div class="content">
                            <h2>Unveiling Urban Mobility in Europe</h2>
                            <p>
                                Together with The Bread we developed a full graphic identity and website for our client in Paris. Autonomy is a 4-day event that celebrates the urban mobility revolution and we were required to build a dual-language website to showcase the event, sell tickets, and keep the press entertained.
                            </p>
                            <p>
                                <span>Role:</span> UX Design &amp; Development
                                <br/><span>Agency:</span> <a href="http://www.thebread.co.za" target="_blank">The Bread</a></p>
                            <a href="http://ixd.co.za/autonomy/" class="btn btn-3" target="_blank">Visit Autonomy.paris</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
