
	<slick class="mini-slider" dots=true infinite=true auto-play=true arrows=false speed=300 slides-to-show=1 touch-move=true slides-to-scroll=1>
		<div style="background-image: url(../images/what-we-do/spaces/spaces1.jpg);"></div>
		<div style="background-image: url(../images/what-we-do/spaces/spaces2.jpg);"></div>
		<div style="background-image: url(../images/what-we-do/spaces/spaces3.jpg);"></div>
		<div style="background-image: url(../images/what-we-do/spaces/spaces4.jpg);"></div>
		<div style="background-image: url(../images/what-we-do/spaces/spaces5.jpg);"></div>
		<div style="background-image: url(../images/what-we-do/spaces/spaces6.jpg);"></div>
		<div style="background-image: url(../images/what-we-do/spaces/spaces7.jpg);"></div>
		<div style="background-image: url(../images/what-we-do/spaces/spaces8.jpg);"></div>
		<div style="background-image: url(../images/what-we-do/spaces/spaces9.jpg);"></div>
		<div style="background-image: url(../images/what-we-do/spaces/spaces10.jpg);"></div>
		<div style="background-image: url(../images/what-we-do/spaces/spaces11.jpg);"></div>
	</slick>	

