<slick class="mini-slider" dots=true infinite=true auto-play=true arrows=false speed=300 slides-to-show=1 touch-move=true slides-to-scroll=1>
	<div style="background-image: url(../images/what-we-do/design/design1.jpg);"></div>
	<div style="background-image: url(../images/what-we-do/design/design2.jpg);"></div>
	<div style="background-image: url(../images/what-we-do/design/design3.jpg);"></div>
	<div style="background-image: url(../images/what-we-do/design/design4.jpg);"></div>
	<div style="background-image: url(../images/what-we-do/design/design5.jpg);"></div>
	<div style="background-image: url(../images/what-we-do/design/design6.jpg);"></div>
	<div style="background-image: url(../images/what-we-do/design/design7.jpg);"></div>
	<div style="background-image: url(../images/what-we-do/design/design8.jpg);"></div>
</slick>	