<div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
  <div class="col-md-3 image">
    <img class="event" style="max-width: 200px;" src="images/what-we-do/pic1.svg" />
  </div>
  <div class="col-md-9 text">
    <h4>Product Strategy</h4>
    <p>We work with our clients to define what their product is, what it does, and how it works. We pair innovation with user experience in the best way possible.</p>
  </div>
</div>

<div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
  <div class="col-md-3 image">
    <img class="event" style="max-width: 200px;" src="images/what-we-do/pic2.svg" />
  </div>
  <div class="col-md-9 text">
    <h4>User Experience</h4>
    <p>For digital products and services to resonate with audiences, we ensure UX design informs all decisions made from landing to leaving.</p>
  </div>
</div>

<div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
  <div class="col-md-3 image">
    <img class="event" style="max-width: 200px; padding: 3rem;" src="images/what-we-do/pic3.svg" />
  </div>
  <div class="col-md-9 text">
    <h4>User Research</h4>
    <p>Helping you understand your audience and their behaviors through research and testing. This knowledge informs every step of our process.</p>
  </div>
</div>

<div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
  <div class="col-md-3 image">
    <img class="event" style="max-width: 200px; padding: 3rem;" src="images/what-we-do/pic4.svg" />
  </div>
  <div class="col-md-9 text">
    <h4>Interaction Design</h4>
    <p>Understanding the human element in a tech product allows us to ensure interaction is the first consideration in developing our digital products.</p>
  </div>
</div>

<div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
  <div class="col-md-3 image">
    <img class="event" style="max-width: 200px;" src="images/what-we-do/pic8.svg" />
  </div>
  <div class="col-md-9 text">
    <h4>Web Development</h4>
    <p>We obsess over code. This is what allows us to promise website and web apps that look beautiful, communicate brilliantly, and run quietly under the hood.</p>
  </div>
</div>
<div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
  <div class="col-md-3 image">
    <img class="event" style="max-width: 200px;" src="images/what-we-do/pic9.svg" />
  </div>
  <div class="col-md-9 text">
    <h4>E-Commerce</h4>
    <p>We help you and your business sell your products or services online. Ensuring functionality, security, and ease-of-use are the things we obsess over so you don't have to.</p>
  </div>
</div>
<div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
  <div class="col-md-3 image">
    <img class="event" style="max-width: 200px;" src="images/what-we-do/pic6.svg" />
  </div>
  <div class="col-md-9 text">
    <h4>Brand Identity</h4>
    <p>Together with The Bread we develop brand identities, visual languages, and graphic elements that captivate and delight customers.</p>
  </div>
</div>
<div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
  <div class="col-md-3 image">
    <img class="event" style="max-width: 200px;" src="images/what-we-do/pic7.svg" />
  </div>
  <div class="col-md-9 text">
    <h4>Mobile Apps</h4>
    <p>Mobile is more important than ever and we're here to help you take advantage of the most important development of our age since the onset of the internet.</p>
  </div>
</div>
<div class="col-md-12 h-bg-darker h-margin-v-sm blocklist-item">
  <div class="col-md-3 image">
    <img class="event" style="max-width: 200px;" src="images/what-we-do/pic5.svg" />
  </div>
  <div class="col-md-9 text">
    <h4>Prototyping</h4>
    <p>We take the guess-work out of digital and ensure all products, no matter how big or small, are thoroughly prototyped and tested up until final deployment.</p>
  </div>
</div>
