  <div class="h-bg-darker text-center wwd-left-design">
    	<div class="wwd-back" ui-sref="app.whatWeDo" ng-click="goWhatWeDo()">
    		<icon class="fa fa-long-arrow-left"></icon> Back To What We Do
    	</div>
        <div class="h-vertical h-center h-padding-h-md">
        <h3>Design &amp; Content</h3>
        <h5>At our core we are creatives and problem solvers. The challenge of developing communications for new or existing brands gets us hot under the collar, whether we’re envisioning a new product and brand, or filming a 6 month campaign.</h5>
        <h4>Services</h4>
        <ul>
          <li>Graphic Design</li>
          <li>Brand Design</li>
          <li>UX/UI Design</li>
          <li>Web &amp; App Development</li>
          <li>Content Creation</li>
          <li>Copywriting</li>
          <li>Positioning &amp; Strategy</li>
          <li>Product Development</li>
          <li>Research</li>
        </ul>
        <button class="btn btn-1" ng-click="goWork();">View Our Work</button>
    </div>
  </div>
